@media (min-width: 576px) and (min-height: 685px) {
    .login-page__container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%,-50%);
    }
}

